@model TravelAlbum.Web.Models.SingleImageModels.LatestSingleImagesOutputModel

@if (Model != null && Model.singleImages != null)
{
    foreach (var singleImage in Model.singleImages)
    {        
        <img src="@String.Format("data:image/jpg;base64,{0}", singleImage.SingleImageData)" />
        <div>Start date: @singleImage.CreatodOn</div>
        <div>@singleImage.Description</div>
    }
}

@{
    ViewBag.Title = "Home Page";
}


@using (Html.BeginForm("SearchTravels", "Travels", new { area = string.Empty }, FormMethod.Post))
{
    @Html.AntiForgeryToken();
    <input type="text" class="search_box" width:150px;" name="search" placeholder="Търси пътувания">
}