@model TravelAlbum.Web.Models.SingleImageModels.SingleImageOutputViewModel


<br />
<div class="description">@Model.Description</div>
<br />
<div class="description">@Html.DisplayFor(model => model.CreatedOn)</div>
<br />
<a href="@String.Format("data:image/jpg;base64,{0}", Model.SingleImageData)" data-lightbox="image-1">
    <img class="single-image" src="@String.Format("data:image/jpg;base64,{0}", Model.SingleImageData)" />
</a>