
.comment-header {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-bottom: 2px solid gray;
    margin-bottom: 2px;
}

.comment-container {
    display:flex;
    width:50%;
    margin-left:auto;
    margin-right:auto
}

.comment-avatar {
   display:flex;
}

.comment-content {
    display:inline-block;
    width:40%;
    min-width:250px;
    vertical-align: top;
    height:100px;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto
}

.comment-manage-buttons {
    display:flex;
    width:50%;
    margin-left:auto;
    margin-right:auto
}

.add-comment-textarea {
    width: 40%;
    max-width: 100%;
    min-width:250px;
    display: block;  
    margin-left: auto;
    margin-right: auto
}

.submit-comment-button {
    display: flex;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px
}

#show-comments-button {
    width: 250px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align:center
}