body {
    margin: 0;
}

.topnav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%
}

    .topnav .content-menu a {
        float: left;
        display: block;
        color: #f2f2f2;        
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav .login-menu a {
        float: right;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #4CAF50;
            color: white;
        }

.language-images{
    width:20px;
}