.search-group{
    display:block;
    margin-left:10px;
    margin-bottom:10px;
    width:200px
}

.label-mountain-checkbox{
    color:white
} 

.search-element {
    margin-right: 10px
}

.search-container{
    width:20%;
    top:100px;
    position:fixed;
}


.search-big-container {    
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 10;
}

.search-pagination{
    margin-left:auto;
    margin-right:auto;
    width:15%;
    overflow:auto;
    display:block;   
}

.centering {
    width:20%;
    float: none;
    margin: 0 auto
}

.paging-container{
    position:fixed;
    top:90%;
    margin-left:auto;
    margin-right:auto;
    width:100%
}
