.search-group{
    float:left;
    margin:20px
}

.search-element{
    margin-right:50px
}

.search-container{
    width:30%;
    margin-left:auto;
    margin-right:auto
}

.search-pagination{
    margin-left:auto;
    margin-right:auto;
    width:15%;
    overflow:auto;
    display:block

}
