.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

#screen {
    background-image: url('DBImages/SL373554.JPG') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.travels-container {

    width: 45%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    margin-bottom:30px
}

.travels-image {
    float: left;
    clear: left;
    width: 400px;
    height: 250px;
    margin-right:10px
}

.travels-description {
    text-align: justify;
    font-size: 18px;
    text-overflow: ellipsis;
    max-width: 75ch;
    height: 300px;
    text-decoration: none;    
}

   

.travel-title {  
    display:table;
    font-size:22px;
    margin:0 auto;  
    margin-top:5px;
    margin-bottom:5px;
}

.single-travel-link {
    text-decoration: none;
    font: 12px arial;
    color: darkslategrey
}

    .single-travel-link:hover {
        text-decoration: none;
        color: darkslategrey;        
    }

    .single-travel-link:hover:first-child {
        text-decoration: none;
        color: black;
    }

.image-in-travel{
    float:left;
    margin:10px
}

.travel-text {
    padding: 10px;
    background: rgba(33, 30, 30, 0.8);
    text-align: justify;
    color: white;
    font-size: 20px
}